/* my_responses_medias */
@media only screen and (max-width: 908px){
    .my_responses .users_order{
        border-right: none;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .my_responses .top_part h3{
        padding: 10px 0;
        margin: 10px 0;
        text-align: center;
        border-top: 3px solid #d08e0b;
        border-bottom: 3px solid #d08e0b;
    }
    .my_responses .top_part{
        grid-template-columns: 1fr;
    }
    .my_responses .response{
        border-bottom: 3px solid #d08e0b;
    }
    .my_responses .response_sub{
        align-items: normal;
    }
}
@media only screen and (max-width: 408px){
    .my_responses .response_sub p.comment{
        font-size: 15px;
    }
    .my_responses .response_sub{
        grid-template-columns: 1fr;
    }
    .my_responses .response_sub .main_information_wrapper{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }
}