/* order_progress_media_style */
@media only screen and (max-width: 891px) {
  .order_progress {
    grid-template-columns: 1fr;
  }
  .order_progress .double_information {
    grid-row: 1;
    width: 100%;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 661px) {
  .order_progress .information_part {
    padding: 0;
  }
  .order_progress .information_wrapper p {
    margin: 16px auto;
  }
}
@media only screen and (max-width: 433px) {
  .order_progress .date_row .date p {
    font-size: 12px;
  }
  .order_progress .information_wrapper p {
    font-size: 13px;
  }
  .order_progress .order_users b {
    font-size: 16px;
  }
  .order_progress .user_row a {
    font-size: 16px;
  }
  .order_progress .progress_row p.main_information {
    font-size: 12px;
  }
}
