/* about_company_style */
.about_company h2{
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
}
.about_company h2{
    height: 40px;
}
.about_company .text_part{
    width: 80%;
    margin: auto;
}
.about_company .text_part b{
    font-size: 20px;
    color: rgb(79, 130, 3);
}
.about_company .text_part p{
    margin-bottom: 30px;
}