/* balance_style */
.balance_container p.balance{
    font-size: 30px;
    color: #d08e0b;
}
.balance_container .button_choice{
    display: flex;
}
.balance_container .button_choice button{
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: rgb(53, 52, 52);
    border-radius: 5px;
    border: 3px solid #d08e0b;
    transition: 0.5s;
    margin-right: 20px;
    width: 140px;
}
.balance_container .button_choice button:hover{
    opacity: 0.5;
}