/* make_application_style */
.application_page form{
    display: grid;
    padding-top: 25px;
}
.application_page form .form_send{
    margin-top: 20px;
    padding: 5px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    width: 120px;
    background-color: rgb(79, 130, 3);
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    transition: 0.5s;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0;
    
}
.application_page form button:hover{
    opacity: 0.5;
}
.application_page .right_in{
    outline: none;
    padding: 5px;
    font-size: 16px;
    border: 2px solid rgb(79, 130, 3);
    border-radius: 5px;
}
.application_page textarea{
    resize: vertical;
}
.application_page .application_information{
    display: flex;
    align-items: center;
    height: 60px;
    border-right: 2px solid #d08e0b;
}
.application_page .application_information input{
    width: 195px;
}
.application_page .application_information div{
    padding-right: 10px;
}
.application_page .application_price span{
    color: rgb(79, 130, 3);
    font-size: 25px;
}
.application_page .part_wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 25px;
}
.application_page p.max_price{
    margin: 0;
    color: #d08e0b;
}
.application_page .part_wrapper span{
    margin-top: 20px;
    font-size: 24px;
}
.application_page .payment_choice{
    display: flex;
    align-items: center;
}
.application_page .payment_choice p{
    margin: 25px 0;
    padding-left: 5px;
}
.application_page .payment_choice input.bd_information{
    display: none;
}
.application_page span.arrow{
    position: relative;
    top: 8px;
    margin-left: 10px;
}
.application_page span.arrow svg{
    transition: 0.5s;
    cursor: pointer;
}
.application_page span.arrow svg:hover{
    fill: rgb(79, 130, 3) !important;
}
.application_page span.arrow svg.animation{
    transform: rotate(180deg);
}
.application_page .option_sub{
    position: absolute;
    width: fit-content;
    overflow: hidden;
    height: 0;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    transition: 0.5s;
}
.application_page .option_sub_animation{
    height: 156px;
}
.application_page .option_sub .option{
    display: flex;
    padding: 0 5px;
    align-items: center;
    color: #d08e0b;
}
.application_page .option_sub .option input{
    cursor: pointer;
    pointer-events: none;
}
.application_page .payment_option_choice{
    position: relative;
}