/* make_services */
.make_service .form_part{
    padding-top: 30px;
}
.make_service textarea{
    resize: vertical;
}
.make_service span.dolar{
    margin-top: 10px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 30px;
    color: rgb(79, 130, 3);
}
.make_service .money_part div{
    display: flex;
    align-items: center;
}
.make_service form button{
    margin-top: 15px;
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    color: white;
    border: 2px solid #d08e0b;
    transition: 0.5s;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}
.make_service .category_sub{
    position: relative;
    background-color: rgb(79, 130, 3);
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
    height: 0;
}
.make_service .category_sub_animation{
    margin-top: 10px;
    height: 340px;
}
.make_service .category_sub svg{
    position: absolute;
    margin: 10px;
    font-size: 20px;
    fill: white !important;
    right: 0;
    transition: 0.5s;
    cursor: pointer;
}
.make_service .category_sub svg:hover{
    transform: rotate(180deg);
}
.make_service .category_sub .category_option{
    border-bottom: 1px solid white;
}
.make_service .category_sub p{
    padding: 10px 5px;
    margin: 0;
    color: white;
    cursor: pointer;
    width: fit-content;
    transition: 0.5s;
}
.make_service .category_sub p:hover{
    color: black;
}