/* make_order_style */

/* make_order_container */
.make_order_container {
  transition: 0.5s;
}
.make_order_container_none {
  opacity: 0;
}
.make_order_container .email_information {
  display: none;
}
.make_order_container .right_order {
  outline: none;
  padding: 5px;
  font-size: 17px;
  box-sizing: border-box;
  color: rgb(79, 130, 3);
  margin: 10px 0;
  border: 2px solid #d08e0b;
  border-radius: 5px;
}
.make_order_container .option_choice {
  display: flex;
  margin-top: 10px;
  background-color: lightgray;
  width: fit-content;
  border-radius: 10px;
}
.make_order_container .option_choice svg {
  fill: rgb(79, 130, 3) !important;
  padding-right: 10px;
  font-size: 23px;
}
.make_order_container .option {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  align-items: center;
  cursor: pointer;
  width: 247.315px;
  transition: 0.5s;
}
.make_order_container .hover_active:hover {
  background-color: #d08e0b;
  opacity: 0.5;
}
.make_order_container .option_one {
  border-right: 2px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.make_order_container .option_two {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.make_order_container .option_active {
  background-color: #d08e0b;
}
.make_order_container textarea {
  resize: vertical;
}
.make_order_container input.payment_option {
  display: none;
}
.make_order_container .form_part {
  display: grid;
}
.make_order_container .budget {
  padding-bottom: 20px;
}
.make_order_container .category_header {
  display: grid;
  align-items: center;
}
.make_order_container .category_header .restart {
  padding-top: 10px;
  display: none;
}
.make_order_container .category_header .restart_active {
  display: block;
}
.make_order_container .category_header .restart svg {
  font-size: 25px;
  cursor: pointer;
  fill: rgb(79, 130, 3) !important;
  transition: 0.5s;
}
.make_order_container .category_header .restart svg:hover {
  opacity: 0.5;
}
.make_order_container .category_part {
  position: relative;
}
.make_order_container .category_part .inputs {
  display: block;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.make_order_container .category_part input {
  width: 100%;
}
.make_order_container .checkbox_block {
  display: flex;
  margin-right: 50px;
  align-items: center;
}
.make_order_container .type_sub {
  display: none;
  border: 2px solid #d08e0b;
  background-color: rgb(51, 51, 51);
  padding: 0;
  position: relative;
  border-radius: 5px;
  transition: 0.5s;
}
.make_order_container .type_sub.active {
  display: block;
}
.make_order_container .type_sub svg {
  font-size: 25px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: 10px;
  transition: 0.5s;
}
.make_order_container .type_sub svg:hover {
  fill: rgb(79, 130, 3) !important;
  transform: rotate(-90deg);
}
.make_order_container .type_sub p {
  color: white;
  width: fit-content;
  user-select: none;
  transition: 0.5s;
  padding: 5px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.make_order_container .type_sub p:hover {
  color: #d08e0b;
}
.make_order_container .type_sub .last_option {
  border-top: 2px solid rgb(79, 130, 3);
}
.make_order_container .checkbox_block input {
  margin-right: 10px;
  cursor: pointer;
}
.make_order_container .checkbox_wrapper {
  display: flex;
}
.make_order_container .checkbox_block p {
  font-size: 18px;
}
.make_order_container .money_right {
  border: 2px solid rgb(79, 130, 3);
  color: black;
}
.make_order_container .checkbox_sub {
  position: absolute;
}
.make_order_container .checkbox_sub {
  display: none;
}
.make_order_container .checkbox_sub_open {
  display: block;
}
.make_order_container button {
  margin-top: 15px;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  color: white;
  border: 2px solid #d08e0b;
  transition: 0.5s;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}
.make_order_container button:hover {
  color: #d08e0b;
  border: 2px solid rgb(79, 130, 3);
}
.make_order_container button.none_active {
  pointer-events: none;
  opacity: 0.7;
}
.make_order_container .category_choice {
  border: 2px solid #d08e0b;
  background-color: rgb(51, 51, 51);
  padding: 0;
  position: relative;
  border-radius: 5px;
  transition: 0.5s;
  display: none;
}
.make_order_container .category_choice_animation {
  display: block;
}
.make_order_container .category_choice svg {
  font-size: 25px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: 10px;
  transition: 0.5s;
}
.make_order_container .category_choice svg.rubbish {
  right: 40px;
  display: none;
}
.make_order_container .category_choice svg.rubbish:hover {
  transform: rotate(0deg);
}
.make_order_container .category_choice svg:hover {
  fill: rgb(79, 130, 3) !important;
  transform: rotate(-90deg);
}

.make_order_container .category_choice p {
  color: white;
  width: fit-content;
  user-select: none;
  transition: 0.5s;
  padding: 5px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.make_order_container .category_choice p:hover {
  color: #d08e0b;
}
.make_order_container .category_choice .category_option {
  border-bottom: 2px solid rgb(79, 130, 3);
}
.make_order_container .category_choice .last_option {
  border: none;
}

/* order_double_container */
.order_double_container {
  transition: 0.5s;
  opacity: 0;
  display: none;
  position: relative;
}
.order_double_container .header {
  transition: 0.5s;
}
.order_double_container .header_load {
  opacity: 0.7;
  pointer-events: none;
}
.order_double_container_active {
  display: block;
}
.order_double_container .back_link {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
}
.order_double_container .back_link:hover {
  opacity: 0.5;
}
.order_double_container .back_link svg {
  height: 15px;
}
.order_double_container .back_link p {
  margin: 0;
  font-size: 15px;
  margin-bottom: 3px;
  padding-left: 3px;
  color: #d08e0b;
}
.order_double_container .doubles_wrapper {
  display: grid;
  grid-gap: 40px;
  padding: 20px 10px;
}
.order_double_container input {
  height: 16px;
  pointer-events: none;
}
.order_double_container .option {
  display: flex;
}
.order_double_container .option p {
  margin: 0;
  font-size: 17px;
}
.order_double_container .option_text {
  padding-left: 10px;
}
.order_double_container .text {
  display: flex;
  width: fit-content;
  transition: 0.3s;
  cursor: pointer;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
}
.order_double_container .text:hover {
  opacity: 0.5;
}
.order_double_container p.price {
  color: rgb(79, 130, 3);
  padding-left: 5px;
}
.order_double_container .description p {
  font-size: 12px;
  padding-right: 40%;
  color: gray;
}
.order_double_container button {
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  color: white;
  border: 2px solid #d08e0b;
  transition: 0.5s;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}
.order_double_container button:hover {
  color: #d08e0b;
  border: 2px solid rgb(79, 130, 3);
}
.order_double_container .payment_count {
  display: grid;
  border-top: 2px solid #d08e0b;
  grid-template-columns: 1fr auto;
  padding: 10px;
}
.order_double_container p {
  font-size: 18px;
}
.order_double_container p.pay_sum {
  color: rgb(79, 130, 3);
}
