/* messages_style */
.messanger_users{
    height: 60vh;
    overflow: auto;
    background-color: lightgray;
    border-right: 1px solid lightgray;
}
.messanger_container{
    display: grid;
    grid-template-columns: auto 1fr;
    height: 60vh;
}
.messanger_users::-webkit-scrollbar {
    background-color: lightgray;
    width: 3px;
}
.messanger_users::-webkit-scrollbar-thumb {
    background-color: rgb(79, 130, 3);
}
.messanger_container .companion_choice{
    position: absolute;
    right: 0;
    left: 0;
    top: 43%;
    text-align: center;
    opacity: 0.5;
}
.messanger_container .companion_choice p{
    user-select: none;
    pointer-events: none;
}
.messanger_users a{
    color: black;
    text-decoration: none;
}
.user_chat .companion_options{
    display: flex;
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 1;
}
.user_chat .chat_id{
    display: none;
}
.user_chat .companion_options a{
    margin-right: 15px;
}
.user_chat .content{
    position: relative;
}
.messanger_users .message_user{
    background-color: white;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid rgb(79, 130, 3);
    width: 320px;
    height: 64px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.messanger_users .message_user:hover{
    opacity: 0.7;
}
.messanger_users .message_user_active{
    background-color: #d08e0b1f;
}
.messanger_users .message_user .user_information{
    display: grid;
    grid-gap: 6px;
    padding-left: 10px;
}
.messanger_users .notification_number{
    position: absolute;
    right: 0;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: tomato;
}
.messanger_users .notification_number p{
    color: white !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    text-align: center;
}
.messanger_users .message_user p{
    margin: 0;
    color: #d08e0b;
    font-size: 11px;
}
.messanger_users img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 2px solid rgb(79, 130, 3);
}
.user_chat{
    position: relative;
    background-color: white;
}
.user_chat .message_user{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.user_chat .message_user .companion_options svg{
    font-size: 22px;
    fill: rgb(79, 130, 3) !important;
    cursor: pointer;
    transition: 0.5s;
}
.user_chat .message_user .companion_options svg:hover{
    opacity: 0.5;
}
.user_chat .message_user .user_child{
    display: flex;
    align-items: center;
}
.user_chat .message_user img{
    height: 60px;
    width: 60px;
    border-radius: 5px;
}
.user_chat .message_user .user_information{
    display: grid;
    grid-gap: 5px;
    padding-left: 10px;
}
.user_chat .message_user .user_information p{
    margin: 0;
    color: #d08e0b;
    font-size: 11px;
}
.user_chat .user_line{
    padding: 10px;
    border-bottom: 1px solid #d08e0b;
}
.user_chat .form_wrapper{
    width: 100%;
}
.user_chat .form_children_wrapper{
    padding: 10px 0;
    width: 100%;
    transition: 0.5s;
    position: absolute;
    /* top: 505px; */
    /* bottom: 0; */
    border-top: 1px solid rgb(79, 130, 3);
    display: grid;
    grid-gap: 5px;
    background-color: white;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
.user_chat .form_children_wrapper_smile{
    padding-top: 50px;
}
.user_chat .smile_choice{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    bottom: 60px;
    width: 100%;
    overflow: auto;
    transition: 0.5s;
    display: none;
    opacity: 0;
}
.user_chat .smile_choice::-webkit-scrollbar{
    background-color: white;
    height: 3px;
}
.user_chat .smile_choice::-webkit-scrollbar-thumb{
    background-color: rgb(79, 130, 3);
    height: 3px;
}
.user_chat .smile_choice svg{
    font-size: 25px;
}
.user_chat .smiles{
    display: flex;
    font-size: 25px;
    padding-bottom: 5px;
}
.user_chat .smiles div{
    user-select: none;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.5s;
}
.user_chat .smiles div:hover{
    opacity: 0.5;
}
.user_chat textarea{
    height: 24px;
    resize: none;
}
.user_chat .icon{
    padding-left: 10px;
}
.user_chat svg{
    fill: rgb(79, 130, 3) !important;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.user_chat svg.active{
    transform: rotate(135deg);
    fill: #d08e0b !important;
}
.user_chat .file_add{
    position: relative;
}
.user_chat input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}
.user_chat .chat_menu{
    position: relative;
}
.user_chat .chat_block_information{
    padding-top: 10px;
    border-top: 2px solid #d08e0b;
}
.user_chat .chat_block_information p{
    margin: 0;
    text-align: center;
    user-select: none;
    pointer-events: none;
    color: gray;
}
.user_chat .smile{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 10px;
}
.user_chat .smile svg{
    transition: 0.5s;
}
.user_chat .smile svg.smile_active{
    fill: #d08e0b !important;
}
.user_chat .value_wrapper{
    position: relative;
}
.user_chat .choice_menu{
    position: absolute;
    z-index: 1;
    width: 150px;
    bottom: 30px;
    margin-left: 10px;
    text-align: center;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 0;
    display: none;
    transition: 0.5s;
}
.user_chat .choice_menu_animation{
    opacity: 1;
}
.user_chat .choice_menu p{
    margin: 0;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}
.user_chat .choice_menu p:hover{
    color: #d08e0b;
}
.user_chat .choice_menu p.mouse{
    color: #d08e0b;
}
.user_chat .choice_menu div{
    margin: 5px 5px;
    padding: 5px 0;
}
.user_chat button{
    margin-top: 3px;
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    color: white;
    border: 3px solid rgb(79, 130, 3);
    transition: 0.5s;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin-right: 10px;
}
.user_chat .chat{
    height: 425px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.user_chat .chat::-webkit-scrollbar {
    background-color: lightgray;
    width: 3px;
}
.user_chat .chat::-webkit-scrollbar-thumb {
    background-color: #d08e0b;
}
.user_chat .blocked_chat{
    opacity: 0.6;
}
.user_chat .chat_row{
    margin-bottom: 40px;
}
.user_chat .blocked_chat .chat_row{
    pointer-events: none;
}
.chat_row .date{
    margin: auto;
    text-align: center;
    width: fit-content;
    padding: 5px;
    font-size: 13px;
    background-color: lightgray;
    border-radius: 50px;
}
.chat_row .message{
    width: fit-content;
    position: relative;
    max-width: 50%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.chat_row .message .arrow_options{
    position: absolute;
    right: 0;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
    opacity: 0;
}
.chat_row .message:hover .arrow_options{
    opacity: 1;
}
.chat_row .other_user .arrow_options{
    background-color: rgba(211, 211, 211, 0.73);
    transition: 0.3s;
}
.chat_row .other_user .arrow_options_active{
    transform: rotate(180deg);
}
.chat_row .other_user .arrow_options svg{
    fill: gray !important;
}
.chat_row .my_user .arrow_options svg{
    fill: black !important;
}
.chat_row .my_user .arrow_options{
    background-color: rgba(211, 211, 211, 0.73);
}
.chat_row .message p{
    margin: 0;
    font-size: 14px;
}
.chat_row .my_user{
    background-color: rgba(79, 130, 3, 0.34);
    margin-left: auto;
    margin-right: 10px;
}
.chat_row .other_user{
    background-color: lightgray;
    margin-left: 10px;
}
.chat_row .message_infrmation{
    justify-content: right;
    display: flex;
    align-items: center;
}
.chat_row .tick img{
    height: 8px;
    padding-left: 2px;
}
.chat_row .message_infrmation p {
    font-size: 9px;
    color: gray;
}
.chat_row .message_infrmation svg{
    font-size: 9px;
    padding-left: 3px;
}
.user_chat .file input{
    position: absolute;
    width: 20px;
    padding-left: 10px;
    opacity: 0;
}
.user_chat .nik{
    display: none;
}