.timer_container{
    font-family: 'Geologica', sans-serif;
    background-color: rgb(53, 52, 52);
    color: white;
    width: 70%;
    padding: 30px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
}
.timer_container .timer{
    margin: auto;
    font-size: 40px;
    color: #d08e0b;
}
.timer_container b{
    color: #d08e0b;
    text-decoration: underline;
}
.timer_container .timer span{
    border: 3px solid rgb(79, 130, 3);
    border-radius: 50%;
    padding: 17px 30px;
}
.page_back{
    display: none;
}