/* news_page_style */
.news_container .header_title{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.news_container .header_title .like{
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.news_container .header_title .like svg{
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.news_container .header_title .like svg:hover{
    fill: rgb(79, 130, 3) !important;
}
.news_container .header_title .like span{
    padding-left: 5px;
}
.news_container .header_title h2{
    margin: 0;
    border-right: 3px solid rgb(79, 130, 3);
}
.news_container .img{
    padding-top: 20px;
    text-align: center;
}
.news_container img{
    height: 400px;
    border-radius: 20px;
}
.news_container .main_text{
    margin-top: 20px;
    border-top: 3px solid #d08e0b;
}
.rong_news .text{
    padding-top: 20px;
}