/* notification_page_style */
.personal_order_container{
    transition: 0.5s;
    display: none;
    opacity: 0;
}
.notification_container .notification{
    position: relative;
}
.notification_container .notification .checkbox{
    position: absolute;
    margin-top: 20px;
    right: 0;
    height: 20px;
    width: 20px;
    display: none;
}
.notification_container .notification .checkbox_active{
    display: block;
}
.notification_container .notification_wrapper_block{
    pointer-events: none;
    opacity: 0.7;
}
.notification_container .notifications{
    display: flex;
    flex-direction: column-reverse;
}
.notification_container .header_title{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.notification_container .notification_options{
    margin-top: 24.900px;
}
.notification_container .notification_options svg{
    fill: rgb(79, 130, 3) !important;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}
.notification_container .notification_options svg.active{
    fill: #d08e0b !important;
}
.notification_container .notification{
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 3px solid rgb(79, 130, 3);
}
.notification_container .user_notification{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.notification_container .user_notification img{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    border: 2px solid #d08e0b;
    margin-right: 10px;
}
.notification_container .user_notification a{
    font-size: 20px;
    color: rgb(79, 130, 3);
    text-decoration: none;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 2px solid #d08e0b;
}
.notification_container .top_part{
    display: flex;
    align-items: center;
}
.notification_container .top_part h3{
    font-size: 23px;
}
.notification_container h4{
    font-size: 20px;
}
.notification_container .main_notification{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr auto;
}
.notification_container .order_files{
    margin-left: 15px;
    padding-left: 15px;
    border-left: 2px solid rgb(79, 130, 3);
}
.notification_container .order_files img{
    height: 80px;
    cursor: pointer;
}
.notification_container .order_files a{
    color: rgb(79, 130, 3);
}
.notification_container .main_notification button{
    width: 200px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #d08e0b;
    color: rgb(51, 51, 51);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 20px;
}
.notification_container .main_notification button:hover{
    opacity: 0.7;
}
.notification_container .notification_warning{
    text-align: center;
}
.notification_container .header .header_title_notification{
    display: grid;
    grid-template-columns: 1fr auto;
}