/* rates_style */
.rates_container .rates_options{
    display: grid;
}
.rates_container .option{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 2px solid lightgray;
}
.rates_container .option svg{
    font-size: 23px;
    transition: 0.5s;
    transform: rotate(0deg);
}
.rates_container .option:hover svg{
    fill: rgb(79, 130, 3) !important;
}
.rates_container .option svg.animation{
    transform: rotate(180deg);
    fill: rgb(79, 130, 3) !important;
}
.rates_container .option p.category_name{
    font-size: 17px;
    user-select: none;
}
.rates_container .line{
    margin: 20px 0;
}
.rates_container .price p{
    font-size: 20px;
}
.rates_container .price b{
    color: rgb(79, 130, 3);
}
.rates_container .option_sub{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px solid #d08e0b;
    overflow: hidden;
    transition: 0.5s;
}
.rates_container .option_sub p{
    width: fit-content;
    cursor: default;
    user-select: none;
    padding-left: 10px;
}
.rates_container .option_sub b{
    color: rgb(79, 130, 3);
}
.rates_container .option_sub input{
    margin: 16px 0;
    pointer-events: none;
}
.rates_container .option_sub div{
    display: flex;
    margin-bottom: 5px;
    transition: 0.5s;
}
.rates_container .option_sub div:hover{
    border-right: 1px solid rgb(79, 130, 3);
}
.rates_container .option_sub div.none_click{
    opacity: 0.5;
    pointer-events: none;
}
.rates_container button{
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: rgb(53, 52, 52);
    border-radius: 5px;
    border: 3px solid #d08e0b;
    transition: 0.5s;
    opacity: 0.5;
    pointer-events: none;
}
.rates_container button.active{
    opacity: 1;
    pointer-events: all;
}
.rates_container .special_choice{
    border-top: 1px solid black;
}
.rates_container .special_choice p{
    color: #d08e0b;
}