/* services_style */
.service_container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.service_search{
    display: grid;
    grid-template-columns: 1fr auto;
    padding-bottom: 20px;
}
.service_search input{
    margin-top: 0;
    margin-bottom: 10px;
    height: 100%;
}
.service_search button{
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    color: white;
    border: 2px solid #d08e0b;
    transition: 0.5s;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    width: 120px;
    height: 100%;
}
.service_filter{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
.service_filter h4{
    margin-top: 0;
    font-size: 23px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(79, 130, 3);
}
.service_filter div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.service_filter p{
    color: rgb(79, 130, 3);
    cursor: pointer;
    transition: 0.5s;
    margin: 7px;
    width: fit-content;
}
.service_filter p:hover{
    color: #d08e0b;
}
.service_container .service{
    width: 320px;
    border-radius: 20px;
    background-color: white;
    transition: 0.5s;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}
.service_container .service:hover{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0em 0em 1em rgba(0, 0, 0, 0.3);
}
.service_container .service .img{
    width: 320px;
    height: 219px;
    overflow: hidden;
    border-bottom: 2px solid #d08e0b;
}
.service_container .service img.services_image{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    width: 100%;
}
.service_container .service a{
    text-decoration: none;
}
.service_container .service b.user_name{
    color: rgb(79, 130, 3);
}
.service_container .service p.category{
    color: #d08e0b;
}
.service_container .service span.price{
    color: rgb(79, 130, 3);
}
.service_container .service_information{
    padding: 15px;
    display: grid;
    grid-gap: 10px;
}
.service_container .service_information p{
    margin: 0;
}
.service_container .under_line{
    height: 2px;
    width: 100%;
    background-color: rgb(79, 130, 3);
}
.service_container .user_information{
    display: flex;
    align-items: center;
}
.service_container .user_information img{
    height: 35px;
    width: 35px !important;
    border-radius: 5px;
    margin-right: 10px;
}