/* settings_style */
.settings_container .settings_wrapper{
    margin: 10px 0;
}
.settings_container .setting_option{
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid gray;
}
.settings_container .normal_option{
    border-left: 5px solid #d08e0b;
}
.settings_container .setting_option a{
    color: rgb(79, 130, 3);
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
}
.settings_container .setting_option:hover a{
    color: rgb(51, 51, 51);
}
.settings_container .menu_option{
    position: relative;
}
.settings_container .menu_header svg{
    position: absolute;
    padding-top: 10px;
    right: 0;
    top: 0;
    font-size: 30px;
    transition: 0.5s;
    fill: rgb(51, 51, 51) !important;
}
.settings_container .menu_header svg.animation{
    fill: #d08e0b !important;
    transform: rotate(180deg);
}
.settings_container .setting_sub{
    position: relative;
    border-top: 1px solid #d08e0b;
    margin-left: 20px;
    padding-top: 10px;
    margin-top: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.settings_container .background_options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.settings_container .setting_sub_none{
    border: none;
    height: 0 !important;
    padding-top: 0;
    margin-top: 0;
}
.settings_container .setting_sub h3{
    margin: 0;
    font-size: 16px;
    user-select: none;
}
.settings_container .setting_sub div{
    margin-top: 20px;
}
.settings_container .setting_sub button{
    padding: 5px;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: rgb(53, 52, 52);
    border-radius: 5px;
    border: 3px solid #d08e0b;
    transition: 0.5s;
}
.settings_container .setting_sub button:hover{
    opacity: 0.7;
}
.settings_container .menu_header{
    cursor: pointer;
}
.settings_container .role_input .sub_wrapper{
    margin-top: 5px;
    background-color: rgb(79, 130, 3);
    border-radius: 5px;
    transition: 0.5s;
    overflow: hidden;
    height: 0;
    position: absolute;
    width: 100%;
}
.settings_container .role_input .sub_wrapper_animation{
    height: 130px;
}
.settings_container .role_input .sub_option p{
    margin: 0;
    transition: 0.5s;
}
.settings_container .role_input .sub_option p.active{
    color: white;
}
.settings_container .role_input .sub_menu{
    margin: 0;
    padding: 10px;
}
.settings_container .role_input .sub_option{
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 2px solid white;
    cursor: pointer;
    align-items: center;
}
.settings_container .role_input .sub_option:hover p{
    color: white;
}
.settings_container .role_input .sub_option svg{
    fill: white !important;
    padding-right: 10px;
    font-size: 23px;
}
.settings_container .payment_value{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: end;
}
.settings_container .payment_value svg{
    padding-right: 20px;
}
.settings_container .background_options .background_option{
    height: 200px;
    overflow: hidden;
    margin: 0;
    width: 300px;
}
.settings_container .background_options .option{
    width: fit-content;
    margin: auto;
    transition: 0.5s;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.settings_container .background_options .option:hover{
    background-color: #d08e0b1f;
}
.settings_container .background_options .active_option{
    background-color: #d08e0b1f;
}
.settings_container .background_options .checkbox{
    text-align: center;
    pointer-events: none;
}
.settings_container .background_options img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.settings_container p.active_bg{
    display: none;
}