/* user_support_style */
.support_container .right_in{
    width: 400px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 3px solid #d08e0b;
}
.support_container textarea{
    resize: vertical;
}
.support_container form p{
    color: rgb(79, 130, 3);
    font-size: 20px;
}
.support_container .button_choice{
    margin-top: 35px;
    padding-top: 35px;
    border-top: 3px solid rgb(79, 130, 3);
}
.support_container button{
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: rgb(53, 52, 52);
    border-radius: 5px;
    border: 3px solid #d08e0b;
    transition: 0.5s;
}
.support_container button:hover{
    color: #d08e0b;
}
.support_container .none_right{
    opacity: 0.5;
    pointer-events: none;
}