body{
    margin: 0;
    font-family: 'Geologica', sans-serif;
    background-color: rgb(230, 229, 229);
}
/* container_width */
.container{
    width: 90%;
    margin: 140px auto;
}
/* line */
.line{
    width: 80%;
    height: 3px;
    background-color: #d08e0b;
    margin: 50px auto;
    transition: 1s;
}
.line_no_animation{
    width: 3px;
}
/* bestlancer_text */
h2 div.bestlancer_text{
    display: flex;
    align-items: center;
    padding-right: 10px;
    pointer-events: none;
    user-select: none;
    font-weight: 700;
}
h2 .bestlancer_text p{
    color: #d08e0b;
}
/* header_css */
.header{
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    border-bottom: 3px solid rgb(79, 130, 3);
}
.header .header_title{
    padding-bottom: 35px;
    border-bottom: 3px solid rgb(79, 130, 3);
}
.header .header_title h2{
    margin-bottom: 0;
    font-size: 30px;
}
/* textarea_font */
textarea{
    font-family: 'Geologica', sans-serif;
    min-height: 33px;
    resize: vertical;
}
/* warning_text */
u.warning{
    color: tomato;
}
/* input_text */
b.input_name{
    padding-top: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #d08e0b;
}
input.right_in{
    /* height: 33px; */
}
.right_in {
    transition: 0.5s;
    margin-top: 10px;
    padding: 5px;
    outline: none;
    width: 100%;
    border: 3px solid #d08e0b;
    color: rgb(79, 130, 3);
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 0.5px;
    box-sizing: border-box;
}
/* pencil */
.change_icon{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 2px solid black;
}
.change_icon svg{
    fill: rgb(79, 130, 3) !important;
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
}
/* loader */
.overlay{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
}
.overlay_active{
    display: flex;
}
.overlay .loader{
    border: 2px solid #f3f3f3;
    border-top: 2px solid rgb(79, 130, 3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}