/* change_modal_project */
.change_project button{
    margin-top: 15px;
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    color: white;
    border: 2px solid #d08e0b;
    transition: 0.5s;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}
.change_project button:hover{
    color: #d08e0b;
}
.change_project .information_wraper{
    height: 300px;
    overflow-x: hidden;
    padding-right: 15px;
}
.change_project .information_wraper::-webkit-scrollbar{
    background-color: white;
    width: 3px;
}
.change_project .information_wraper::-webkit-scrollbar-thumb{
    background-color: #d08e0b;
}
/* .change_project  */
.change_project .cover{
    position: relative;
    height: 200px;
    border-radius: 10px;
    transition: 0.5s;
}
.change_project .cover:hover{
    opacity: 0.7;
}
.change_project .cover .file_choice{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}
.change_project .cover .fon{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.687);
    border-radius: 10px;
}
.change_project .cover .plus{
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    top: 75px;
    margin: auto;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid #d08e0b;
}
.change_project .cover .plus span{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    user-select: none;
    width: fit-content;
}