/* payment_ask_style */
.payment_ask_container .payment_ask {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 500px;
  margin-top: 50px;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 3px solid rgb(79, 130, 3);
}
.payment_ask_container .payment_ask_load {
  opacity: 0.5;
  pointer-events: none;
}
.payment_ask_container_active {
  display: block;
}
.payment_ask_container .close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
.payment_ask_container .close svg {
  font-size: 30px;
  cursor: pointer;
  fill: rgb(79, 130, 3) !important;
  transition: 0.5s;
}
.payment_ask_container .close svg:hover {
  transform: rotate(180deg);
}
.payment_ask_container h4 {
  margin-bottom: 0;
  color: rgb(79, 130, 3);
}
.payment_ask_container .payment_input {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  align-items: center;
}
.payment_ask_container .payment_input b {
  font-size: 20px;
  color: gray;
}
.payment_ask_container button {
  margin-top: 15px;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  color: white;
  border: 2px solid #d08e0b;
  transition: 0.5s;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0.5;
  padding: 5px;
  font-size: 20px;
}
.payment_ask_container button.ready {
  opacity: 1;
  pointer-events: all;
}
.payment_ask_container button:hover {
  opacity: 0.7;
}

/* payment_ask_media_style */
@media only screen and (max-width: 579px) {
  .payment_ask_container .payment_ask {
    width: 80%;
  }
}
