/* service_report_style */
.make_report{
    background-color: white;
    position: relative;
    top: 50px;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}
.make_report .cross_icon{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    cursor: pointer;
}
.make_report .cross_icon svg{
    fill: rgb(79, 130, 3) !important;
    font-size: 24px;
    transition: 0.5s;
}
.make_report .cross_icon svg:hover{
    transform: rotate(180deg);
}
.make_report h3{
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(79, 130, 3);
}
.make_report button{
    padding: 5px;
    transition: 0.5s;
    font-size: 18px;
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 2px solid #d08e0b;
    color: #d08e0b;
    background-color: rgb(51, 51, 51);
}
.make_report button:hover{
    opacity: 0.5;
}
.make_report .option_choice{
    position: relative;
}
.make_report .option_choice .sub_input{
    margin-top: 5px;
    position: absolute;
    background-color: rgb(79, 130, 3);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    height: 0;
}
.make_report .option_choice .sub_input_animation{
    height: 168px;
}
.make_report .option_choice .sub_input p{
    color: white;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}
.make_report textarea{
    resize: none !important;
}